<h2>List of Works</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let work of works">
      <tr *ngIf="!work.hidden">
        <td>{{ work.title }}</td>
        <td>{{ work.description }}</td>
        <td>
          <a href="{{ work.clientWebsite }}" target="_blank">{{ work.clientWebsite }}</a>
        </td>
        <td>
          <button (click)="editWork(work.id)">Edit</button>
          <button (click)="deleteWork(work)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
