<h2>Portfolio</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Client Website</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let work of works">
      <tr *ngIf="!work.hidden">
        <td>{{ work.title }}</td>
        <td>{{ work.description }}</td>
        <td>
          <a href="//{{ work.clientWebsite }}" target="_blank">{{ work.clientWebsite }}</a>
        </td>
        <td>
          <img id="clientImg" width="60px" height="30px" src="{{work.imageUrl}}" alt="">
        </td>
        <td>
          <button type="button" (click)="editWork(work.id)">Edit</button>
          <button type="button" (click)="deleteWork(work)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
