:root{
    --secondary-color: #DBE5E7;
    --icon-hover-color: #fda829;
}

nav {
    background: #111111;
    height: 100%; width: 70px;
    position: relative;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 250px !important;
        li {
            a {
                width: 30px;
                color: #fff;
                padding: 20px; margin: 0px;
                display: block; transition: all .35s ease-in-out;

                i{
                    transition: all .3s ease-in-out;
                }

                .activated {
                    background-color: #ffffff;
                }
                
            }

            .activated {
                background-color: #ffffff;
            }
           
            :hover{
                color:#fda829;
                background-color: #272727;
            }
        }

        li:nth-child(1){
            top: 0%;
        }
        li:nth-child(2){
            top: 7%;
        }
        li:nth-child(3){
            top: 14%;
        }
        span{
            width: 22px; height: 22px;
            border: 4px #181818 solid;
            padding: 20px;
            top: 90%;
            background-color: rgb(255, 255, 255);
         }
    }
}