<nav>

    <ul>
        <li>
            <a routerLink="works" [class.activated]="currentUrl == ''">
                <i class="material-icons">home</i>
            </a>
        </li>
        <li>
            <a routerLink="unhide" (click)="unhideAllWorks(); reloadPage()" >
                <i class="material-icons">work</i>
              </a>
        </li>
        <li>
            <a routerLink="works/add" [class.activated]="(currentUrl == '/add_worker')">
                <i class="material-icons">add</i>
            </a>
        </li>
        <span class="material-icons">
            manage_accounts
        </span>
    </ul>
</nav>
