<nav>
    <ul>
        <li>
            <a routerLink="home" [class.activated]="currentUrl == ''">
                <i class="material-icons">home</i>
            </a>
        </li>
        <li *ngIf="router.url === '/works'">
            <a  routerLink="unhide" (click)="unhideAllWorks(); reloadPage()" mat-raised-button
                matTooltip="Unhide all works"
                matTooltipClass="example-tooltip-red"
                aria-label="Button that displays a tooltip when focused or hovered over" >
                <i class="material-icons">visibility</i>
              </a>
        </li>
        <li>
            <a routerLink="works/add" [class.activated]="(currentUrl == '/add_worker')">
                <i class="material-icons">add</i>
            </a>
        </li>
        <span class="material-icons" aria-label="admin_badge">
            manage_accounts
        </span>
    </ul>
</nav>
