// Set the background color of the page
body {
    background-color: #f2f2f2;
  }
  
  // Style the form
  form {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  // Style the form header
  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  // Style the form fields
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="url"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  input:focus{
    outline: none;
  }
  
  // Style the submit button
  button[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px; margin-right: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    margin-bottom: 20px;
  
    &:hover {
      background-color: #659f6a;
      color: rgb(0, 0, 0);
    }
  }
  
  // Style the cancel button
  button[type="button"] {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #e28282;
      color: black;
    }
  }