<h2>{{title}}</h2>
<form [formGroup]="workForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control">
  </div>
  <div class="form-group form-check">
    <label for="hidden" class="form-check-label">Show in portfolio:</label>
    <input type="checkbox" name="hidden" formControlName="hidden" [(ngModel)]="hidden" (change)="updateHiddenValue($event)">
  </div>
  <div class="form-group">
    <label for="clientWebsite">Customer URL:</label>
    <input type="text" id="clientWebsite" formControlName="clientWebsite" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-default" routerLink="/works">Cancel</button>
</form>
